
div,h1,h2,h3,h4,h5,h6,p,form,pre {
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: block;
}

html {
	overflow:scroll;
}


body {
	font-family: "ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;
}


/*レイアウト
---------------------------------------------------- */
body {
	margin: 0px;
	padding: 0px;
}

html {
   overflow-y:scroll;
}


.cspt	{
	cursor:pointer;
	cursor:hand;
}

.kakumaru	{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
