@charset "UTF-8";
/* CSS Document */

body{

}

#mainForm {
  padding:0 10px 0 10px;
}

/*-----------------------------------------------
 *  Bootstrap3 ?u??
 *----------------------------------------------- */
.input-sm {
  height: 30px;
  padding: 2px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

.input-group-addon.input-sm {
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 4px;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
}

/*-----------------------------------------------
 *  ?e?[?u???֘A
 *----------------------------------------------- */
/* ?X?N???[???̈・*/
div.scrollable-table {
  position: relative;
  width:100%;
  margin:0 0 0;     /* thead, tfoot ?\???p?̌??ﾔ */
}

div.scrollable-table > div {
  overflow-x:auto;      /* ?????X?N???[???o?[?????\?? */
  overflow-y:hidden;      /* ?????X?N???[???o?[?\?? */
}

.rmenuTable {
  white-space: nowrap;
  border-collapse: separate;
  border: 1px solid #35feaa;
  text-align:center;
  margin-bottom: 5px;
}

.rmenuTable th {
  text-align: center;
  border: 1px solid #35feaa;
  background: #8dfdcf;
}
.rmenuTable td {
  vertical-align: middle;
  border: 1px solid #35feaa;
}

.rmenuTable tr:nth-child(odd) {
  background: #bdfae0;
}
.rmenuTable tr:nth-child(even) {
  background: #8dfdcf;
}

/*-----------------------------------------------
 *  ul li ?ŃZ???^?[?ɔz?u???・ *---------------------------------------------- */
.rmenu-ul {
  position: relative;
  float:left;
  left: 50%;  
}

.rmenu-li {
  left: -50%;  
}
.rmenu-float-clear {
  clear: both;
}

.rmenu-float-left {
  float:left;
}

.rmenu-float-right {
  float:right;
}

/*-----------------------------------------------
 *  ?e?L?X?g???ｹ
 *----------------------------------------------- */
.rmenuHeaderLeft {
  text-align: left;
  float: left;
}

.rmenuHeaderRight {
  text-align: right;
}

.rmenuLeft {
  text-align: left;
}
.rmenuCenter {
  text-align: center;
}
.rmenuRight {
  text-align: right;
}

/*-----------------------------------------------
 *  ?Z?? ?w?i?F
 *----------------------------------------------- */
.cellBackground0 {
  bgcolor: #353535;
}
.cellBackground1 {
  background: #fd0202;
}
.cellFontColor1 {
  color: #fd0202;
}
/*-----------------------------------------------
 *  ?I?s ?w?i?F
 *----------------------------------------------- */
.rowBackground {
  background: #fad1bd;
}

/*-----------------------------------------------
 *  ?????̐F
 *----------------------------------------------- */
.optionFontColor {
  color: ffff00;
}

/*-----------------------------------------------
 *  ???X?g?顂ɕׂ・ *----------------------------------------------- */
.rmenuUL ul{
margin: 0; 
padding: 0; 
list-style: none;
}
.rmenuUL li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}

/*-----------------------------------------------
 *  ???X?g?烽ﾌ?e?L?X?g?̕??ﾝ?肷?・ *----------------------------------------------- */
.width3 {
  width:3px;
}
.width5 {
  width:5px;
}
.width29 {
  width:29px;
}

.width10 {
  width:10px;
}
.width34 {
  width:34px;
}

.width15 {
  width:15px;
}
.width39 {
  width:39px;
}

.width20 {
  width:20px;
}
.width44 {
  width:44px;
}

.width30 {
  width:30px;
}
.width54 {
  width:54px;
}

.width40 {
  width:40px;
}
.width64 {
  width:64px;
}

.width50 {
  width:50px;
}
.width74 {
  width:74px;
}

.width60 {
  width:60px;
}
.width84 {
  width:84px;
}

.width70 {
  width:70px;
}
.width94 {
  width:94px;
}

.width80 {
  width:80px;
}
.width104 {
  width:104px;
}

.width90 {
  width:90px;
}
.width114 {
  width:114px;
}

.width100 {
  width:100px;
}
.width124 {
  width:124px;
}

.width110 {
  width:110px;
}
.width134 {
  width:134px;
}

.width120 {
  width:120px;
}
.width144 {
  width:144px;
}

.width130 {
  width:130px;
}
.width154 {
  width:154px;
}

.width140 {
  margin:0 auto 0;
  width:140px;
}
.width164 {
  width:164px;
}

.width150 {
  width:150px;
}
.width174 {
  width:174px;
}

.width160 {
  width:160px;
}
.width184 {
  width:184px;
}

.width170 {
  width:170px;
}
.width194 {
  width:194px;
}

.width180 {
  margin:0 auto 0;
  width:180px;
}
.width204 {
  width:204px;
}

.width190 {
  width:190px;
}
.width214 {
  width:214px;
}

.width200 {
  width:200px;
}
.width224 {
  width:224px;
}

.width210 {
  width:210px;
}
.width234 {
  width:234px;
}

.width220 {
  width:220px;
}
.width244 {
  width:244px;
}

.width230 {
  margin:0 auto 0;
  width:230px;
}
.width254 {
  width:254px;
}

.width240 {
  width:240px;
}
.width264 {
  width:264px;
}

.width250 {
  width:250px;
}
.width274 {
  width:274px;
}

.width260 {
  width:260px;
}
.width284 {
  width:284px;
}

.width270 {
  width:270px;
}
.width294 {
  width:294px;
}

.width280 {
  width:280px;
}
.width304 {
  width:304px;
}

.width290 {
  margin:0 auto 0;
  width:290px;
}
.width314 {
  width:314px;
}

.width300 {
  width:300px;
}
.width324 {
  width:324px;
}

.width310 {
  width:310px;
}
.width334 {
  width:334px;
}

.width320 {
  width:320px;
}
.width344 {
  width:344px;
}

.width330 {
  width:330px;
}
.width354 {
  width:354px;
}

.width340 {
  width:340px;
}
.width364 {
  width:364px;
}

.width350 {
  margin:0 auto 0;
  width:350px;
}
.width374 {
  width:374px;
}

.width360 {
  width:360px;
}
.width384 {
  width:384px;
}

.width370 {
  width:370px;
}
.width394 {
  width:394px;
}

.width380 {
  width:380px;
}
.width404 {
  width:404px;
}

.width390 {
  width:390px;
}
.width414 {
  width:414px;
}

.width400 {
  width:400px;
}
.width424 {
  width:424px;
}

.width410 {
  width:410px;
}
.width434 {
  width:434px;
}

.width420 {
  width:420px;
}
.width444 {
  width:444px;
}

.width430 {
  width:430px;
}
.width454 {
  width:454px;
}

.width440 {
  width:440px;
}
.width464 {
  width:464px;
}

.width450 {
  width:450px;
}
.width474 {
  width:474px;
}

.width460 {
  width:460px;
}
.width484 {
  width:484px;
}

.width470 {
  width:470px;
}
.width494 {
  width:494px;
}

.width480 {
  width:480px;
}
.width504 {
  width:504px;
}

.width490 {
  width:490px;
}
.width514 {
  width:514px;
}

.width500 {
  width:500px;
}
.width524 {
  width:524px;
}

.width510 {
  width:510px;
}
.width534 {
  width:534px;
}

.width520 {
  width:520px;
}
.width544 {
  width:544px;
}

.width550 {
  width:550px;
}
.width574 {
  width:574px;
}

.width560 {
  width:560px;
}
.width584 {
  width:584px;
}

.width570 {
  width:570px;
}
.width594 {
  width:594px;
}

.width580 {
  width:580px;
}
.width604 {
  width:604px;
}

.width590 {
  width:490px;
}
.width614 {
  width:614px;
}

.width600 {
  width:600px;
}
.width624 {
  width:624px;
}

.width700 {
  width:700px;
}
.width724 {
  width:724px;
}


.height1 {
  height:1px;
}

.height4 {
  height:4px;
}

.height6 {
  height:6px;
}

.height7 {
  height:7px;
}

.height8 {
  height:8px;
}

.height10 {
  height:10px;
}

.height15 {
  height:15px;
}

.height28 {
  height:28px;
}

.height55 {
  height:55px;
}

.height60 {
  height:60px;
}

.height65 {
  height:65px;
}

.height86 {
  height:86px;
}

.height88 {
  height:88px;
}

.height140 {
  height:140px;
}

.height300 {
  height:300px;
}

/*-----------------------------------------------
 *  loading image
 *----------------------------------------------- */
 #loading {
   position:fixed;
   left: calc(50% - 42px);
   top:30%;
   z-index: 2147483647;
 }

 /*-----------------------------------------------
 *  validation error
 *----------------------------------------------- */
.errorToolTip {
  display: block;
  margin-top:8px
}

.errorMessage {
  padding: 5px;
  background: #ffdff9;
  color: red;
}

.errorTarget {
  border: solid 1px #ff00ff;
}


