@charset "UTF-8";
/* CSS Document */
/*rmenu_css_ファイル名ルール：*/
/*[英数字(記号なし)]_[<body>の背景色16進数6ケタ]_[サブ色16進数6ケタ](以下自由)  */
/*※[][]の間は「_」(アンダースコア/アンダーバー)                                */
/*※サブ色以下はなくてもよい                                                    */
/*※先頭の[英数字(記号なし)]を含めファイル名には「-」(ハイフン)は使わないこと。 */
/*例1：BBlue_ddeef9.css                                                         */
/*例2：monoOkai_fafafa.css                                                      */
/*例3：Forest_502110_FB6835_test.css                                            */


/* nav-part ------------------- */

.navbar-brand {
  background: url("../images/logo_238-85_01business.png") no-repeat left center;
  background-size: contain;
/*  height: 85px;*/
/*  width: 238px;*/
  padding-left: 150px;
}

.navbar-default {
  background-color: #fff;
  color: #444;
  border-bottom: solid 1px #D0D0D0;
}

.navbar-default .navbar-brand {
    color: #444;
}

.navbar-default .navbar-toggle {
    border-color: #D0D0D0;
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f0f0f0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #D0D0D0;
}

/* body-part ------------------- */
html,body {
	width:100%;
	height:100%;
/*background*/
	background:#fff;
}

.container {
    background: none repeat scroll 0 0 #fff;
    -webkit-box-shadow: 25px 0px 20px -15px rgba(0,0,0,0.1), -25px 0px 20px -15px rgba(0,0,0,0.1);
       -moz-box-shadow: 25px 0px 20px -15px rgba(0,0,0,0.1), -25px 0px 20px -15px rgba(0,0,0,0.1);
            box-shadow: 25px 0px 20px -15px rgba(0,0,0,0.1), -25px 0px 20px -15px rgba(0,0,0,0.1);
}

#mainForm {
    background: none repeat scroll 0 0 #FFF;
/*
    -webkit-box-shadow: 25px 0px 20px -15px rgba(0,0,0,0.1), -25px 0px 20px -15px rgba(0,0,0,0.1);
       -moz-box-shadow: 25px 0px 20px -15px rgba(0,0,0,0.1), -25px 0px 20px -15px rgba(0,0,0,0.1);
            box-shadow: 25px 0px 20px -15px rgba(0,0,0,0.1), -25px 0px 20px -15px rgba(0,0,0,0.1);
*/
}

a {
    color: #444;
}
a:hover,
a:focus {
  color: #444;
}


/* btn-part ------------------- */
   /*Basic color*/
.btn {
    background: none repeat scroll 0 0 #FFF;
    border-color: transparent transparent #B6B6B6;
    color: #B6B6B6;
}
.btn:hover,
.btn:focus {  /*Basic*/
  background: #FFF;
  border-color: transparent transparent #646464;
  color: #ffffff;
  color: #646464;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}


   /*on body color*/
.btn.color4 {
    background: none repeat scroll 0 0 #FFF;
    border-color: transparent transparent #B6B6B6;
    color: #B6B6B6;
}
.btn.color4:hover,
.btn.color4:focus {
  background: #FFF;
  border-color: transparent transparent #646464;
  color: #ffffff;
  color: #646464;
}


   /*addon color (calendar)*/
.input-group-addon {
  background: #FFF;
  color: #ffffff;
  color: #3D6B82;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
    background-color: #C6E9FA;
    background-image: linear-gradient(to bottom, #fff, #C6E9FA);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #3D6B82;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget td.active:hover, .bootstrap-datetimepicker-widget td.active:hover:hover, .bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active.active:hover, .bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active.disabled:hover, .bootstrap-datetimepicker-widget td.active[disabled], .bootstrap-datetimepicker-widget td.active[disabled]:hover {
    background-color: #C6E9FA;
    color: #3D6B82;
}


/*tabl-part -------------------*/
   /*Basic color*/
table {
    background: #FFF;
    color: #444;
    border-collapse: collapse;
}

.rmenuTable {
  border: 0 none #FFF;
}

.rmenuTable thead {
}

.rmenuTable th {
  border: 0 none #FFF;
  background: #FFF;
  color: #444;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th {
  border-top: solid 1px #969696;
  border-bottom: solid 1px #969696;
}


.rmenuTable td {
  border: 0 none #FFF;
  border-bottom: solid 1px #D0D0D0;
}
.rmenuTable tr:nth-child(odd) {
  background: #fff;
}
.rmenuTable tr:nth-child(even) {
  background: #fff;
}

   /*selected color*/
.rowBackground {
  background: #969696;
  color: #fff;
}


/* panel-part ------------------- */
.panel-heading.color3b, .panel-body.color3b, .panel-footer.color3b {
    background: none repeat scroll 0 0 #969696;
    color: #fff;
}

.panel-info > .panel-heading {
    border-color: #D0D0D0;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #D0D0D0;
}
.panel-heading.color3, .panel-body.color3, .panel-footer.color3 {
    background: none repeat scroll 0 0 #fff;
    color: #444;
}

/* error_modal-part ------------------- */
.modal-backdrop {
    background-color: #ddd;
}
.modal-backdrop:before {
    background: none repeat scroll 0 0 #ddd;
}
.modal-content {
    background: none repeat scroll 0 0 #eee;
    border: medium none;
    box-shadow: none;
}
.modal-header > .close {
    color: #444;
}
.modal-title {
    color: #FF6969;
}
.modal-body {
    background: none repeat scroll 0 0 #fff;
    color: #444;
}



/* error_message-part ------------------- */
.errorMessage {
    background: none repeat scroll 0 0 #FFE5DF;
    color: #FF5500;
}

/* header-part ------------------- */
#rmenu-header {
}

/* footer-part ------------------- */
#rmenu-footer {
}

/* pagefooter-part ------------------- */
#rmenu-pagefooter {
    background: none repeat scroll 0 0 #fff;
    color: #444;
    margin-top: 20px;
    padding-bottom: 20px;
}

#rmenu-pagefooter a:link { color: #2582b8; }
#rmenu-pagefooter a:visited { color: #2582b8; }
#rmenu-pagefooter a:hover { color: #646464; }
#rmenu-pagefooter a:active { color: #2582b8; }




/* manual page ------------------- */
#manual {
}
/* terms page ------------------- */
#terms {
}
#terms .waku {
  background-color: #C8F5F5;
  border: 1px solid #bce8f1;
  padding: 0px 20px 30px;
}
#terms ul li{
  list-style-type: none;
}
#terms .child{
  list-style-type: upper-roman;
}
#terms .grandson{
  list-style-type: lower-roman;
}
/* security page ------------------- */
#security {
}
/* privacy page ------------------- */
#privacy {
}
#privacy .waku {
  background-color: #C8F5C8;
  border: 1px solid #C3F1BB;
  padding: 0px 20px 30px;
}
#privacy ul li{
  list-style-type: none;
}
#privacy .child{
  list-style-type: upper-roman;
}
#privacy .grandson{
  list-style-type: lower-roman;
}
/* disclaimer page ------------------- */
#disclaimer {
}