@charset "UTF-8";

/* #mainForm高さ調整 */
#mainForm {
  padding: 40px 10px 20px 10px;
  min-height: 500px;
}

/*--------------------------------------------------
* .navbar #rmenu-pagefooter のマージン
---------------------------------------------------- */
.navbar {
  margin-bottom: 12px;
}

#rmenu-pagefooter {
  margin-top: 12px !important;
}

/* CSS Document */
/* ---------------------------------------------------- */
.rmenu-nav-menu-ul {
    padding: 0 15px;
}

/* メニューボタンの設定 */
/* 2ブロック */
.rmenu-nav-menu-ul-width400 {
  width: 400px;
}
.rmenu-nav-menu-ul-width380 {
  width: 380px;
}
/* 3ブロック */
.rmenu-nav-menu-ul-width360 {
  width: 360px;
}
.rmenu-nav-menu-ul-width350 {
  width: 350px;
}
.rmenu-nav-menu-ul-width300 {
  width: 300px;
}
.rmenu-nav-menu-ul-width280 {
  width: 280px;
}
/* 4ブロック */
.rmenu-nav-menu-ul-width270 {
  width: 270px;
}
.rmenu-nav-menu-ul-width260 {
  width: 260px;
}
.rmenu-nav-menu-ul-width240 {
  width: 240px;
}
.rmenu-nav-menu-ul .btn {
  width: 100%
}

@media screen and (max-width: 450px) {
  .rmenu-nav-menu-ul-width400 {
    width: calc(100vw - 50px);
  }

  .rmenu-nav-menu-ul {
      padding: 0 15px 0 0;
  }

  .rmenu-nav-menu-ul li
 ,.rmenu-nav-menu-ul .btn {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .rmenu-nav-menu-ul-width380 {
    width: calc(100vw - 50px);
  }
}
@media screen and (max-width: 410px) {
  .rmenu-nav-menu-ul-width360 {
    width: calc(100vw - 50px);
  }
}
@media screen and (max-width: 400px) {
  .rmenu-nav-menu-ul-width350 {
    width: calc(100vw - 50px);
  }
}
@media screen and (max-width: 350px) {
  .rmenu-nav-menu-ul-width300 {
    width: calc(100vw - 50px);
  }
}
@media screen and (max-width: 330px) {
  .rmenu-nav-menu-ul-width280 {
    width: calc(100vw - 50px);
  }
}
@media screen and (max-width: 320px) {
  .rmenu-nav-menu-ul-width270 {
    width: calc(100vw - 50px);
  }
}
@media screen and (max-width: 310px) {
  .rmenu-nav-menu-ul-width260 {
    width: calc(100vw - 50px);
  }
}
@media screen and (max-width: 290px) {
  .rmenu-nav-menu-ul-width240 {
    width: calc(100vw - 50px);
  }
}
