// custom
//

// Your variable overrides
// 

/* Rmenuにてこのcss(sass)を使う場合の注意点
それぞれの部品のclassは下記の設定を想定しています。
HTMLではこのclassを指定しておいてください。

ヘッダー・フッター（heder/footer） = primary
                     (classに.bg-primaryを指定する)
背景色（body） = secondary
                     (classに.bg-secondaryを指定する)
ボタン（btn） = info
                     (classに.btn-infoを指定する)
表タイトル（thead） = dark
                     (classに.thead-darkを指定する)
表背景（tbody） = light
                     (classに.tbody-lightを指定する)※bootstrap標準ではないクラスです。
*/

//以下のcolorを変更する。

// メイン背景色（ヘッダー・フッター）(＝primary)
$color01:       #d42828;

// ボディ背景色(＝secondary)
$color02:       #eba4a4;

// 文字色(＝body-color)
$color03:      #050503;

// ボタン色(＝info)
$color04:      #12802d;

// 表タイトル背景(＝dark)
$color05:       #59b370;
// 表タイトル文字
$color06:       #050503;

// 表テーブル背景(＝light)
$color07:       #ccffd6;
// 表テーブル文字
$color08:       #050503;




$primary:       $color01 ;
$secondary:     $color02 ;
$info:          $color04 ;
$light:         $color07 ;
$dark:          $color05 ;

$table-dark-bg:                $color05;
$table-dark-color:            $color06;


/*body色指定*/
$body-color:                $color03 ;
$body-bg:                   lighten($secondary, 15%);

$nav-tabs-link-active-color:        darken($color03, 15%);


/*tbodyの色指定*/
.table .tbody-light {
  background-color: $color07;
  color: $color08;
}

/* チェックボックス 高さ・大きさ指定オーバーライド　*/

input[type="checkbox"] {
     height: 1.0em ;
     transform:scale(1.5);
}

// Bootstrap and its default variables
@import "bootstrap.scss";